@{
    ViewBag.Title = "Главная";
}
<div class="jumbotron">
    <h1>Добро пожаловать</h1>
    <h2>на административную страницу туристического агентства!</h2>
    <br>
    <div style="margin: 0 auto;text-align:center;">
        <img src="~/fonts/admin.png">
    </div>
</div>